
body {
  background-color: #f7fff7;
}

.header {
  color: #1a535c;
  font-size: 3em;
}

nav > a > .back-btn {
  background-color: #1a535c;
  color: white;
  border-radius: 10%;
  box-sizing: border-box;
  width: fit-content;
  padding: 0.5rem;
  margin: 0.5rem 0 0 0.5rem;
}

nav > a > .back-btn:hover {
  background-color: white;
  color: #1a535c;
}

nav > .main-title {
  text-align: center;
  font-size: 2.5rem;
  color: #1a535c;
  margin-bottom: 2%;
}

@media screen and (max-width: 610px) {
  nav > a > .back-btn {
    width: 96%;
    margin: 0.5rem;
    text-align: center;
    border-radius: 4%;
    font-size: 1.5rem;
  }
}


.btn {
  background-color: #1a535c;
  margin: 4px;
  color: white;
}
.btn:hover {
  background-color: #bae9e5;
}



.card {
  margin: 0.5em;
  background-color: #1a535c;
  box-shadow: 5px 8px 8px #888888;
}

.card-body {
  background-color: #1a535c;
  color: white;
}

.image-one {
  max-height: 350px;
  min-height: 350px;
  margin-top: 6%;
}

a {
  font-size: large;
  font-weight: bolder;
}

.reduceDescription {
  max-height: 300px;
  overflow-x: scroll;
  text-overflow: ellipsis;
  margin-top: 10%;
}
.scroll-text {
  margin-top: 5%;
  font-size: 0.5em;
  font-style: italic;
  color: white;
}

.results-title {
  color: #1a535c;
  font-size: 1.5em;
  margin-bottom: 2%;
}






